@using OnlineApplication.Common.EnumHelper
@model OnlineApplication.Common.Model.RegistrationModel


@{
    ViewData["Title"] = "Insert";
}

<style>

    #error {
        text-decoration: overline red;
        color: red;
    }
</style>


<h4 class="text-center">Online Application</h4>
<hr />
<form asp-action="Insert" enctype="multipart/form-data" style="width:auto;background: url('@Url.Content("~/images/form-background-1024x683")" class="form-body">


    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Capacity" class="control-label"></label>
                <select asp-for="Capacity" class="form-control" asp-items="Html.GetEnumSelectList<Capacity>()" required>
                    <option value="">--Select Capacity--</option>
                </select>
                <span asp-validation-for="Capacity" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" placeholder="Type Your Full Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Company" class="control-label"></label>
                <input asp-for="Company" class="form-control" placeholder="Type Your Company Name" />
                <span asp-validation-for="Company" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Designation" class="control-label"></label>
                <input asp-for="Designation" class="form-control" placeholder="Type Your Designation" />
                <span asp-validation-for="Designation" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="EmailId" class="control-label"></label>
                <input asp-for="EmailId" id="txtEmail" class="form-control" placeholder="Type Your Email Id" , />
                <span asp-validation-for="EmailId" id="lblError" class="text-danger"></span>
                <span id="error">@ViewBag.error</span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="ContactNumber" class="control-label"></label>
                <input asp-for="ContactNumber" class="form-control" placeholder="Type Your Contact Number" />
                <span asp-validation-for="ContactNumber" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <select asp-for="Category" class="form-control" asp-items="Html.GetEnumSelectList<CategoryOptions>()" required>
                    <option value="">--Select Category--</option>
                </select>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="EngagementWithPilot" class="control-label"></label>
                <select asp-for="EngagementWithPilot" class="form-control" asp-items="Html.GetEnumSelectList<EngagementWithPiolt>()" required>
                    <option value="">--Engagement With Pilot--</option>
                </select>
                <span asp-validation-for="EngagementWithPilot" class="text-danger"></span>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">

            <label asp-for="CheckBoxTechnicalParameters" class="control-label"></label>
            <br />
            <span>Please Check and Select technical qualifications.You can choose multiple criteriawhich your TPS qualify or you can claim to qualiy in PIOLT</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

            <table>
                @for (int i = 0; i < Model.CheckBoxTechnicalParameters.Count; i++)
                {
                    @if (i % 5 == 0)
                    {
                        @:
                        <tr></tr>
                    }
                    <td>
                        <div class="form-group">
                            @Html.DisplayFor(m => m.CheckBoxTechnicalParameters[i].TechnicalParameters)
                            @Html.CheckBoxFor(m => m.CheckBoxTechnicalParameters[i].IsSelected)
                            @Html.HiddenFor(m => m.CheckBoxTechnicalParameters[i].TechnicalParameters)
                            &nbsp;&nbsp;

                        </div>
                    </td>
                }
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <div class="form-group files color">
                    <label>Upload Your Compliance PDF documents here*</label>
                    <input asp-for="RegisterPDF" class="form-control">
                </div>
            </div>
            <span asp-validation-for="RegisterPDF" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" onclick="ValidateEmail()" />
            </div>
        </div>
    </div>
</form>
<a asp-action="GetAll">Back to List</a>


@section Scripts {
        @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
